{% extends 'base.html' %}
{% block content %}

<div class="container mt-5" dir="rtl">
    <div class="row justify-content-center" >
        <div class="col-md-4">
            <div class="card shadow p-4 rounded-lg" style="background-color: rgba(0, 0, 0, 0.3); backdrop-filter: blur(5px);">
                <h2 class="mb-4" style="color: white;">ویرایش گذرواژه</h2>
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.password.id_for_label }}" style="color: white;">گذرواژه جدید:</label>
                        <div class="input-group">
                            <input type="password" name="{{ form.password.name }}" class="form-control"
                                placeholder="گذرواژه جدید" required>
                            <div class="input-group-append">
                                <span class="input-group-text password-toggle-link" style="color: white;border: none; background: transparent;">نمایش</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.confirm_password.id_for_label }}" style="color: white;">تایید گذرواژه:</label>
                        <div class="input-group">
                            <input type="password" name="{{ form.confirm_password.name }}" class="form-control"
                                placeholder="تایید گذرواژه" required>
                            <div class="input-group-append">
                                <span class="input-group-text password-toggle-link" style="color: white;border: none; background: transparent;">نمایش</span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mt-3" style="margin-right: 430px;">تغییر</button>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    /* Additional CSS Styles */
    /* Select the input field and style its placeholder text */
    .form-control::placeholder {
        color: white; /* Set the placeholder color to white */
    }

    .form-control {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(2px);
        color: white;
    }
</style>

<script>
    // Password toggle script
    const passwordFields = document.querySelectorAll('.form-control[type="password"]');
    const toggleLinks = document.querySelectorAll('.password-toggle-link');

    toggleLinks.forEach((toggleLink, index) => {
        toggleLink.addEventListener('click', function (e) {
            e.preventDefault();
            const fieldType = passwordFields[index].getAttribute('type');
            if (fieldType === 'password') {
                passwordFields[index].setAttribute('type', 'text');
                toggleLink.textContent = 'پنهان';
            } else {
                passwordFields[index].setAttribute('type', 'password');
                toggleLink.textContent = 'نمایش';
            }
        });
    });
</script>

{% endblock %}
